/* =================== media ============================= */

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .container {
        width: 328px;
    }

    .title-section__text-block svg {
        width: 140px;
        height: 30px;
    }

    .text-separator_dot {
        display: none;
    }

    .section-name {
        font-size: 14px;
    }

    .title-section__text-block {
        gap: 4px;
    }

    .title-section__text:last-child {
        margin-left: auto;
    }

    /* =================== about-us-section ============================= */

    .about-us-section {
        height: 100%;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 82px;
    }

    .about-us-section .section-name {
        display: block;
    }

    .about-us-section__info {
        width: 100%;
        gap: 48px;
    }

    .about-us-section__stat {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 0;
    }

    .about-us-section__stat-block {
        flex-direction: row;
        align-items: center;
        gap: 8px;
        height: max-content;
        padding-bottom: 24px;
        border-left: none;
        border-bottom: 1px solid #000;
    }

    .about-us-section__stat-number {
        font: 400 32px var(--title-font-family);
    }

    .about-us-number-animation1 {
        transition: padding-top .5s ease-in;
        padding-top: 0;
    }

    .about-us-number-animation2 {
        transition: padding-top .5s ease-in;
        padding-top: 0;
    }

    .about-us-number-animation3 {
        transition: padding-top .5s ease-in;
        padding-top: 0px;
    }

    .about-us-number-animation4 {
        transition: padding-top .5s ease-in;
        padding-top: 0px;
    }

    .about-us-section__text-block p {
        width: 328px;
    }

    /* =================== review-section ============================= */

    .review-section {
        height: 100%;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 82px;
    }
    
    .review-section__slides {
        display: flex;
        gap: 24px;
        overflow: scroll;
    }

    .review-section__slide {
        display: flex;
        flex-direction: column;
        flex: 0 0 328px;
    }

    .review-section__slide-text {
        flex-direction: column;
        gap: 24px;
    }

    .review-section__slide-main-text {
        width: 328px;
        font-size: 32px;
    }

    .review-section__slider-buttons {
        display: none;
    }

    /* =================== menu-section ============================= */

    .menu-section {
        width: 100%;
        margin-bottom: 67px;
        flex-direction: row;
        overflow: scroll;
    }

    .menu-section__block {
        flex-direction: column;
        flex: 0 0 328px;
        gap: 32px;
        padding-bottom: 0;
        border: none;
    }

    .menu-section__block-info {
        width: 328px;
    }

    .menu-section__block-title h2 {
        font-size: 32px;
    }

    .menu-section__link-icon {
        height: 24px;
        width: 24px;
        right: -30px;
    }

    .menu-section__block-list {
        flex-direction: column;
        align-items: start;
        gap: 8px;
        padding-left: 0;
    }

    .menu-section__block-list-item {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--text-color);
    }

    .menu-section__block-list-info {
        flex-direction: row;
        gap: 16px;
        font-size: 14px;
    }

    .menu-section__block-list-info span,
    .menu-section__block-list-item h6 {
        font-size: 14px;
    }

    .menu-section__hover-image {
        display: none;
    }
}